<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A75BBE21F297B1000D5A55F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A75BBFE1F297B1000D5A55F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A75BC091F297B1000D5A55F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
